<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.action.system.sconf.mapper.SysMenuLimitMapper">

    <select id="getMenuLimitVoByScope" resultType="com.action.system.sconf.struct.vo.SysMenuLimitVo">
        select sml.id,
        sml.type,
        sml.contact_id,
        sml.menu_id,
        sml.status,
        sml.visible,
        sml.hidden_tag
        from sys_menu_limit sml
        <where>
            ( 1=1
            <choose>
                <when test="groupIdList!=null and groupIdList.size>0">
                    or (
                    sml.type = 1 and sml.contact_id in
                    <foreach collection="groupIdList" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    )
                </when>
                <when test="postIdList!=null and postIdList.size>0">
                    or ( sml.type = 2 and sml.contact_id in
                    <foreach collection="postIdList" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    )
                </when>
                <when test="roleIdList!=null and roleIdList.size>0">
                    or ( sml.type = 3 and sml.contact_id in
                    <foreach collection="roleIdList" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    )
                </when>
            </choose>
            ) and sml.status = "1"
        </where>
    </select>

</mapper>
